In [30]:
#import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

columns = ["Time", "3458A"]
raw=pd.read_csv("https://raw.githubusercontent.com/marcoreps/multiinstrumentalist/master/csv/ADRmu1-3458A.csv", usecols=columns)
raw["Time"] = pd.to_datetime(raw["Time"])
print("We have "+str(raw["Time"].max() - raw["Time"].min())+" worth of data.")
raw.describe()
#raw = raw.pivot(index="Time", columns="
#raw.plot()
#plt.show()

We have 125 days 01:56:45 worth of data.

             3458A
count  1581.000000
mean      9.996288
std       0.000001
min       9.996283
25%       9.996287
50%       9.996288
75%       9.996288
max       9.996290